.mainPageFooterFooter
{
    width: 100%;
    height: 60px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 50px;
}
.mainPageFooterOfficeAddresses
{
    width: 46%;
    padding-left: 100px;
}
.mainPageFooterContacts
{
    width: 520px;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 100px;
    justify-content: space-between;
}
.mainPageFooterOfficeAddresses,
.mainPageFooterEmail,
.mainPageFooterNumber
{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainPageFooterEmail
{
    width: 228px;
}
.mainPageFooterNumber
{
    width: 178px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainPageFooterTitle
{
    width: 100%;
    height: 19px;

    font-size: 16px;
    font-weight: 800;
    color: #6F6F6F;
}
.mainPageFooterText
{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
}
.mainPageFooterFirstAddress
{
    width: 340px;
    height: 24px;
}
.mainPageFooterSecondAddress
{
    width: 220px;
    height: 24px;
}
.mainPageFooterThirdAddress
{
    width: 190px;
    height: 24px;
}
