.page
{
  background: url('../../assets/img/MainPageBack.jpg');
  background-size: cover;
}
.mainPageComponents {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainPageContent
{
  margin-top: 100px;
}