.registrationFormBody
{
    width: 700px;
    height: 570px;
    border: 10px;
    border-width: 4px;
    border-style: solid;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registrationFormTitel
{
    width: 300px;
    height: 170px;
    font-size: 54px;
    color: white;
    display: flex;
    align-items: center;
}
.registrationFormFieldContainer
{
    width: 480px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registrationNameContainer
{
    width: 480px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.registrationEmail,
.registrationPassword
{
    width: 480px;
    height: 120px;
    margin-top: 20px;
}
.registrationFormButtonContainer
{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 62px;
}
.registrationFormFirstButton
{
    width: 100%;
    height: 80px;
}