.product-builder-postcard-main-content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.product-builder-postcard-main-content-left-side-container
{
    width: 449px;
    height: 643px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
}
.product-builder-postcard-main-content-left-side-container-left-box-buttons
{
    width: 99px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}
.product-builder-postcard-main-content-left-side-container-right-box-content
{
    width: 349px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.product-builder-postcard-main-content-left-side-container-right-box-button-and-input-image-box
{
    width: calc(100% - 50px);
    height: calc(45% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px 0 25px;
}
.product-builder-postcard-main-content-left-side-container-right-box-image-box
{
    width: 300px;
    background-size: cover;
}
.product-builder-postcard-main-content-left-side-container-right-box-button-image
{
    width: 300px;
    background-size: cover;
}
.product-builder-postcard-main-content-left-side-container-right-box-input-image
{
    width: calc(100%);
    height: calc(55%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-builder-postcard-main-content-left-side-container-right-box-text-button
{
    width: 349px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-builder-postcard-main-content-right-side-container
{
    width: calc(100% - 449px);
    height: 643px;
}
.product-builder-postcard-main-content-right-side-text-customization-buttons
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}