.information-about-us-page-container 
{
  height: calc(100vh - 120px);
  display: flex;
  background: url('../../assets/img/AboutUsPage/AboutUsBack.jpg');
  background-size: cover;
  background-position: center -120px;
}
