.personal-account-name-box
{
    width: calc(100% - 200px);
    height: 165px ;
    margin: 50px 100px 0 100px ;
}
.personal-account-title
{
    width: 100%;
    height: 56px;
    font-size: 48px;
}
.personal-account-field-container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0 0 ;
}
.personal-account-first-name-box,
.personal-account-last-name-box,
.personal-account-email
{
    font-size: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.personal-account-first-name-box
{
    width: 30%;
}
.personal-account-last-name-box
{
    width: 36%;
}
.personal-account-email
{
    width: 32%;
}